body{
    background: #2e2e2e;
}

.signup {
    margin-left: 30px;
}

.banner {
	color: rgb(255, 255, 255);
	font-family: 'Montserrat', sans-serif;
	margin: 30px auto 0;
	width: 200px;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase
}
#wrapper{
    margin-top: 100px;
    margin-left: 50%;
}

/* === Sign in Form === */
#signin {
	height: 90px;
	width: 400px;
	border-radius: 8px;
	position: relative;
}
#signin::before {
    margin-left: -50%;
    margin-right: 50%;
	display: block;
	position: relative;
	height: 2px;
	background: rgb(52, 56, 61);
	content: '';
	top: 60px;
	z-index: 1;
}
#signin input:first-of-type{
    margin-left: -50%;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	font-size: 20px;
}
#signin input:last-of-type{
    margin-left: -50%;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	font-size: 20px;
}
#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33);
	color: rgb(52, 56, 61);
}
#signin  input[type="text"], #signin  input[type="password"]{
	position: relative;
	display: block;
	width: 380px;
	height: 60px;	
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 600;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}
.btn_cont {
    margin-top: 100px;
}

.btn {
  text-decoration: none;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-top: 20px;
  width: 400px;
  height: 70px;
  line-height: 45px;
  border-radius: 45px;
  vertical-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
  background: #323232;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.btn:hover {
  background: #424242;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  color: white;
  transform: translateY(-7px);
}
#signin button[type="submit"]:hover{
	color: rgb(0, 126, 165);
	text-shadow: 0 0 10px rgb(0, 126, 165);
	cursor: pointer;
}
#signin p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 15px;
	margin: 5px 0 0 -50px;
	margin-left: -50%;
}
#signin p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}

@media (max-width: 1200px) {
	.banner {
		width: 60%;
		margin-top: 8%;
		font-size: 65px;
	}
	#wrapper{
	position: absolute;
	width: 100%;
	left: 5%;
	margin-left: -160px;
	top: 40%;
	margin-top: -75px;
}
#signin {
	height: 100%;
	width: 90%;
	border-radius: 8px;
	position: relative;
}
#signin::before {
	display: block;
	position: relative;
	height: 3px;
	background: rgb(52, 56, 61);
	top: 150px;
	margin-right: -16%;
	margin-left: 14%;
	z-index: 1;
}
#signin input:first-of-type{
    margin-left: 14%;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	font-size: 50px;
}
#signin input:last-of-type{
    margin-left: 14%;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	font-size: 50px;
}
#signin input[type="text"], #signin input[type="password"], #signin button[type="submit"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33);
	color: rgb(52, 56, 61);
}
#signin  input[type="text"], #signin  input[type="password"]{
	position: relative;
	display: block;
	width: 100%;
	height: 150px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 600;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}
.btn_cont{
    margin-top: 90%;
    overflow:hidden;
    bottom: 1em;
    right: 1em;
}
.btn {
	width: 100%;
	margin-top: 8%;
	height: 100px;
	border-radius: 70px;
	font-size: 50px;
	padding-top: 55px;
	text-align: center;
}
#signin button[type="submit"]:hover{
	color: rgb(0, 126, 165);
	text-shadow: 0 0 10px rgb(0, 126, 165);
	cursor: pointer;
}
#signin p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 40px;
	margin-top: 25px;
	font-family: 'Montserrat', sans-serif;
	margin-left: 15%;
}
#signin p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}
}