body{
    background: #2e2e2e;
}

.btn_cont {
    width: 400px;
    margin: 30px auto;
}

.message {
    color: red;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

.helper {
    font-family: 'Montserrat', sans-serif;
    color: #8C8C8C;
}

.help_cont {
    width: 300px;
    margin: auto;
}

.btn {
  border: 0px solid;
  margin: auto;
  padding-top: 5px;
  width: 400px;
  height: 70px;
  line-height: 45px;
  border-radius: 45px;
  vertical-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
  background: #323232;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.btn:hover {
  background: #424242;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  color: white;
  transform: translateY(-7px);
}
.form {
    text-align: left;
    padding-left: 10px;
    border: 0px solid;
    background: rgb(52, 56, 61);
    font-size: 25px;
    outline: none;
    border-radius: 10px;
    width: 400px;
    height: 55px;
}
::placeholder {
    color: #8C8C8C;
}
.input_cont {
    width: 400px;
    margin: auto;
}
.banner {
	color: rgb(255, 255, 255);
	font-family: 'Montserrat', sans-serif;
	margin: 30px auto 0;
	margin-bottom: 50px;
	width: 400px;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase
}
@media (max-width: 1200px) {
.banner {
	width: 80%;
	margin-top: 4%;
	font-size: 40px;
}

.help_cont {
    margin-top: 10px;
    margin-bottom: 30px;
}

p.btn_cont{
    width: 90%;
    margin: auto;
}
.btn {
	width: 100%;
	margin-top: 8%;
	height: 70px;
	border-radius: 50px;
	font-size: 35px;
	padding-top: 10px;
	text-align: center;
}
.input_cont {
    width: 90%;
    margin: auto;
}
.form {
    width: 100%;
}
}