<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PasswordsSaver</title>
        <link rel="stylesheet" type="text/css" href="static/css/signup.css">
</head>
<body>
<table>
<td><h5 href="http://127.0.0.1:5000/login" class="banner">PasswordsSaver</h5>
<h5 class="banner">Your site: {{ site }}</h5>
<h5 class="banner">Your password: {{ password }}</h5>
<div class="message">If it’s not you, then it’s worth considering</div>
</table>
</body>
</html>