<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Log In - PasswordsSaver</title>
        <link rel="stylesheet" type="text/css" href="static/css/signup.css? update = {{ version }}">
</head>
<body>
<h5 class="banner">Sign Up</h5>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="input_cont">
    <p>
        {{ form.login(class="form", method="", action="", autocomplete="off", type="text", id="name", placeholder="username") }}<br>
        {% for error in form.login.errors %}
            <div class="message">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.password(class="form", method="", action="", autocomplete="off", type="password", id="pass", placeholder="password") }}<br>
        {% for error in form.password.errors %}
            <div class="message">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    </div>
    <p class="btn_cont">{{ form.submit(type="submit", class="btn")}}</p>
    <div class="message">{{ message }}</div>
</form>
</body>