<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Log In - PasswordsSaver</title>
      <link rel="stylesheet" type="text/css" href="static/css/login.css? update = {{ version }}">
</head>

<body>
  <p><h1 class="banner">Log in</h1></p>
<p><div id="wrapper">
	<form id="signin" method="" action="" autocomplete="off">
		<input type="text" id="user" placeholder="username" />
		<input type="password" id="pass" placeholder="password" />
		<p><a href="#">I forgot password</a><a class="signup" href="signup">Sign Up</a></p>
	</form>
</div></p>
<div class="btn_cont"><a class="btn" type="submit">login</a></div>
</body>
</html>
