<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>List of passwords - PasswordsSaver</title>
<link rel="stylesheet" type="text/css" href="static/css/signup.css? update = {{ version }}">
</head>
<body>
<p>
    <h4 class="banner">Your passwords</h4></p>
<form action="" method="post"><p>
    <div class="input_cont">{{ form.tags(class="form", method="", action="", autocomplete="off", type="text", id="name", placeholder="enter tags and press enter")}}</div>
</p></form>
</body>
</html>