<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Preview - PasswordsSaver</title>
    <link rel="stylesheet" type="text/css" href="/static/css/preview.css? update = {{ version }}">
</head>
<body>
<div class="banner_cont"><h5 class="banner">PasswordsSaver</h5></div>
<div class="block">
<div class="img_cont_left"><img src="static/img/preview/add.png"></div>
<div class="right_text"><textarea readonly class="pr_text">Add passwords from your favorite sites and don't worry about their security. All your passwords are encrypted, and you can get passwords only by logging in with your account. Thanks to Google authentication, cybercriminals will not be able to log into your account.</textarea></div>
</div>
<div class="block">
    <div class="left_text"><textarea class="pr_text" readonly >Enter your tags and find your passwords. We will display all passwords that match your tags. To perform actions with a password, you must click on the button with the site.</textarea></div>
<div class="img_cont_right"><img src="static/img/preview/list.png"></div>
</div>
<div class="block">
<div class="img_cont_left"><img src="static/img/preview/show_pass.png"></div>
<div class="right_text"><textarea class="pr_text" readonly >When you have selected a saved password with the site, you can change it or get this password in your mail. In less than a minute you will receive an email with the site, password and with all the tags for this password. Use only real mail when registering!</textarea></div>
</div>
<p class="btn_cont">
<div><a href="login" class="btn">Sign In</a></div>
<div><a href="signup" class="btn">Sign Up</a></div>
</p>
</body>
</html>