<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change Profile - PasswordsSaver</title>
        <link rel="stylesheet" type="text/css" href="static/css/signup.css? update = {{ version }}">
</head>
<body>
<h5 class="banner">Change Profile</h5>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="input_cont">
    <p>
        {{ form.login(class="form", method="", action="", autocomplete="off", type="text", id="name", placeholder="username") }}<br>
        {% for error in form.login.errors %}
            <div class="message">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.email(class="form", method="", action="", autocomplete="off", type="text", id="email", placeholder="email") }}<br>
        {% for error in form.email.errors %}
            <div class="message">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    </div>
    <div class="input_cont">
    <p>
        {{ form.password(class="form", method="", action="", autocomplete="on", type="password", id="pass",  placeholder="old password") }}<br>
        {% for error in form.password.errors %}
            <div class="message">
                {{ error }}
            </div>
        {% endfor %}
    </p>
        <p>
        {{ form.new_password(class="form", method="", action="", autocomplete="off", type="password", id="new_pass",  placeholder="new password") }}<br>
        {% for error in form.new_password.errors %}
            <div class="message">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.new_password_rep(class="form", method="", action="", autocomplete="off", type="password", id="rep_new_pass", placeholder="repeat password") }}<br>
        {% for error in form.new_password_rep.errors %}
            <div class="message">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    </div>
    <p class="btn_cont">{{ form.submit(type="submit", class="btn", value="change")}}</p>
    <div class="message">{{ message }}</div>
</form>
</body>