<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change Profile - PasswordsSaver</title>
        <link rel="stylesheet" type="text/css" href="/static/css/signup.css? update = {{ version }}">
</head>
<body>
<h5 class="banner">Your password</h5>
<div class="site_cont">
    <a class="site" href="http://{{ site }}" target="blank" maxlength="10">{{ site }}</a></div>
<div class="tags_cont"><textarea readonly class="tags">{{ tags }}</textarea></div>
<form action="" method="post">
    {{ form.hidden_tag() }}
<p class="btn_cont">{{ form.submit(type="submit", class="btn", value="get password")}}</p>
</form>
</body>
</html>