<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Log In - PasswordsSaver</title>
      <link rel="stylesheet" type="text/css" href="static/css/signup.css? update = {{ version }}">
</head>
<body>
  <h1 class="banner">Sign Up</h1>
<p>
  <div id="wrapper_user">
	<form class="signup" method="" action="" autocomplete="off">
		<input type="text" id="name" placeholder="username" />
		<input type="text" id="email" placeholder="email" />
	</form>
</div>
    <div id="wrapper_pass">
	<form class="signup" method="" action="" autocomplete="off">
		<input type="password" id="pass" placeholder="password" />
		<input type="password" id="rep_pass" placeholder="repeat password" />
	</form>
</div>
</p>
<p class="btn_cont"><a type="submit" class="btn">submit</a></p>
</body>
</html>